.nav {
  background: #FFFFFF;
  padding: 1.5rem;
}

.nav-item {
  padding: 1rem;
  font-size: 20px;
  text-decoration: none;
  color: #495E57;
}

.logo {
  height: 75px;
}

.hero {
  text-align: left;
  background-color: #495E57;
  color: #FFFFFF;
  align-content:flex-start;
}

.heroImage {
  max-height: 400px;
  max-width: 343px;
}

.title {
  color: #F4CE14;
}

.resButton {
  height: 50px;
  width: 220px;
  border-radius: 16px;
  background-color:#F4CE14;
  font-size: 18px;
}

.sectionTitle {
  font-size: 40px;
  font-family: Karla;
  font-weight: 800;
  word-wrap: break-word
}

.footerlogo {
  padding: 20px;
  height: 279px;
  width: 162px;
}

.footerTitle {
  color: #495E57;
  font-size: 20px;
  font-family: Karla;
  font-weight: 800;
  word-wrap: break-word
}
