@import url('https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@400&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Roboto&display=swap');

.App {
  display: flex;
  font-family: 'Karla', sans-serif;
  background-color: #f2f2f2;
}
/* Nav section */
.nav {
  background: #FFFFFF;
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-item {
  margin: 1rem;
  padding-top: 10px;
  font-size: 20px;
  display: flex;
  text-decoration: none;
  color: #495E57;
}

.logo {
  height: 75px;
  padding-right: 50px;
}

/* Hero section */
.hero {
  text-align: left;
  background-color: #495E57;
  color: #FFFFFF;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.heroImage {
  max-height: 400px;
  max-width: 350px;
  display: flex;
  justify-content: right;
  overflow: clip;
  border-radius: 16px;
}

.scooterIcon {
  padding-left: 20px;
}

.title {
  color: #F4CE14;
  font-family: 'Markazi Text', serif;
  font-size: 56px;
}

.subTitle {
  font-family: 'Markazi Text', serif;
  font-size: 32px;
}

.resButton {
  height: 50px;
  width: 220px;
  border-radius: 16px;
  background-color:#F4CE14;
  font-size: 18px;
  font-weight: 800;
}

/* Specials section */

.sectionTitleSpecials {
  font-size: 40px;
  font-family: Karla;
  font-weight: 800;
  word-wrap: break-word;
  text-align: center;
  padding-right: 120px;
  padding-left: 60;
}

.orderBoxSpecials {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.gridBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
}
.cardProperty {
  background-color: #EDEFEE;
  border-radius: 16px;
  color: black;
  height: 439px;
}

.imageProperty {
  height: 186px;
  width: 265px;
}

.cardBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
  padding-bottom: 60px;
}


/* Testimonials section */
.sectionTitle {
  font-size: 40px;
  font-family: Karla;
  font-weight: 800;
  word-wrap: break-word;
  color: #FEFEFE;
  text-align: center;
  padding: 40px;
}

.reviewsSection {
  background: #495E57;

}
 .reviewCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding-bottom: 50px;
 }

 .smallCard {
  display: flex;
  background-color: #EDEFEE;
  border-radius: 16px;
  color: Black;
  width: 198px;
  height: 178px;

 }

 .smallCardContent {
  display: flex;
  justify-content: left;
  border: solid;
 }

 /* About secction */

.aboutBox {
  margin: 60px;
  display: flex;
  justify-content: center;
  gap: 120px;
  flex-wrap: wrap;
} 

.aboutText {
  padding-top: 40px;
  max-width: 240px;
}

/*Reservation section*/

.resBox {
  background-color: #495E57;
  color: #FEFEFE;
  font-size: 34px;
  text-Align:center;
  height: 120px;
  padding-Top: 40px;
}

/*Reservation form*/
.formInput {
  border: 2px solid;
  width: 200px;
  border-color: #495E57;
  border-radius: 8px;
}

.formError {
  color: red;
}

.fullResBox{
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  padding-top: 40px;
}

.resDetailsBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.personDetailsBox {
  display: flex;
  flex-direction: column;
}

.resButtonBox {
  padding: 40px;
  display: flex;
  justify-content: center;
}


/*footer section */
.allFooter {
  display: flex;
  flex-Wrap: wrap;
  justify-Content: space-evenly;
  background-Color: #D9D9D9
}

.footerlogo {
  padding: 20px;
  height: 279px;
  width: 162px;
}

.footerBox {
  background-color: #D9D9D9;
  display: flex;
}

.footerTitle {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #495E57;
  font-size: 20px;
  font-family: Karla;
  font-weight: 800;
  word-wrap: break-word
}

.navFooter {
  padding-bottom: 10px;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.socialLinkBox {
  display: flex;
}

.socialLinks {
  padding: 8px;
}

