@import url('https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@400&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Roboto&display=swap');

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  background-color: #f2f2f2;
}

.nav {
  background: #FFFFFF;
  padding: 1.5rem;
}

.nav-item {
  padding: 1rem;
  font-size: 20px;
  text-decoration: none;
  color: #495E57;
}

.logo {
  height: 75px;
}
.gridBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}
.hero {
  text-align: left;
  background-color: #495E57;
  color: #FFFFFF;
  display: grid;
  grid-template-columns:1fr 1fr;
  align-content: center;
  padding-left: 60px;
}

.heroImage {
  max-height: 400px;
  max-width: 350px;
  padding-left: 120px;
  display: flex;
  overflow: hidden;
}

.scooterIcon {
  padding-left: 20px;
}

.title {
  color: #F4CE14;
  font-family: 'Markazi Text', serif;
  font-size: 56px;
}

.subTitle {
  font-family: 'Markazi Text', serif;
  font-size: 32px;
}

.resButton {
  height: 50px;
  width: 220px;
  border-radius: 16px;
  background-color:#F4CE14;
  font-size: 18px;
  font-weight: 800;
}

.sectionTitle {
  font-size: 40px;
  font-family: Karla;
  font-weight: 800;
  word-wrap: break-word
}

.cardProperty {
  background-color: #EDEFEE;
  border-radius: 16px;
  color: black;
  height: 439px;
}

.imageProperty {
  height: 186px;
  width: 265px;
}

.resBox {
  background-color: #495E57;
  color: #FEFEFE;
  font-size: 34px;
}

.resHeader {
  font-size: 40x;
}


.formInput {
  border: 2px solid;
  width: 200px;
  border-color: #495E57;
}

.formError {
  color: red;
}

.footerlogo {
  padding: 20px;
  height: 279px;
  width: 162px;
}

.footerTitle {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #495E57;
  font-size: 20px;
  font-family: Karla;
  font-weight: 800;
  word-wrap: break-word
}

.navFooter {
  padding-bottom: 10px;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.socialLinks {
  padding: 8px;
}



