@import url('https://fonts.googleapis.com/css2?family=Karla&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing:content-box;
  font-family: 'Karla', sans-serif;
}

.wrapper {
  background: #EFEFEF;
  max-width: 1200px;
  display: flexbox;
}